@{
    ViewBag.Title = "Lista pracowników";
}

<div id="ajax_main_content">
 <script type="text/javascript">
     window.location.hash = "/Home";
 </script>
    

    @Html.Partial("Home/_Index") 
</div>