<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EFDbContext" connectionString="Server=.\SQLEXPRESS;Database=ZMTdb;Trusted_Connection=true;initial catalog=ZMTdb" providerName="System.Data.SqlClient" />
    <add name="ZMTdbEntities" connectionString="metadata=res://*/Model.ZMTdbModel.csdl|res://*/Model.ZMTdbModel.ssdl|res://*/Model.ZMTdbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=ZMTdb;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Model.ZMTdbModel.csdl|res://*/Model.ZMTdbModel.ssdl|res://*/Model.ZMTdbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=ZMTdb;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>