@model ZMTFixedAssetsWebApp.WebUI.Models.DeleteObjectById

<p class='header'>Usuwanie pracownika <b>@Model.Id </b</p>
<p>@Model.Description</p>

@using (Ajax.BeginForm("Delete", "Person", new { id = @Model.Id }, new AjaxOptions { UpdateTargetId = "ajax_main_content", HttpMethod = "POST", OnFailure = "OnFailure", OnComplete = "OnCompleteEdit('/Person/Index')" }, new { @id = "form_unobtrusive" }))
{
    <input type=submit class='submitButton' onclick="LoadHistory('/Person/Index')" value="TAK" />
    @Ajax.ActionLink("NIE", "Index", null, new AjaxOptions { UpdateTargetId = "ajax_main_content", HttpMethod = "POST", OnFailure = "OnFailure"  }, new { @class = "submitButton",  @onclick = "raiseCounter()", @rel = "ajax" })
}
    
