@model ZMTFixedAssetsWebApp.WebUI.Models.InfoModel
@{
    ViewBag.Title = "Info";
}

<h2>Info</h2>
<p>@Model.Description</p>

@{ 
    string action = @Model.Action;
    string controller = @Model.Controller;
 }


@Html.ActionLink("Powrót", action, controller, null, null, null, null, null)

