@model ZMTFixedAssetsWebApp.WebUI.Models.InfoModel
@{
    ViewBag.Title = "Info";
}

<h2>Info</h2
<p>@Model.Description</p>

@{ 
    string action = @Model.Action;
    string controller = @Model.Controller;
 }


@Ajax.ActionLink("Powrót", action, controller, null, new AjaxOptions { UpdateTargetId = "ajax_main_content", HttpMethod = "GET", OnFailure = "OnFailure" }, new { @rel = "ajax" })

