@model ZMTFixedAssetsWebApp.WebUI.Models.InfoModel
@{
    ViewBag.Title = "Info";
}

<h2>Info</h2>
<p>@Model.Description</p>

@Ajax.ActionLink("Powrót", @Model.Action, @Model.Controller, new AjaxOptions { UpdateTargetId = "ajax_main_content", HttpMethod = "GET", OnFailure = "OnFailure" })

