@model ZMTFixedAssetsWebApp.WebUI.Models.DeleteObject
@{
    ViewBag.Title = "Usuwanie";
}


<p class='header'>Usuwanie pracownika <b>@Model.Id </b</p>
<p>@Model.Description</p>


@using (Ajax.BeginForm("Delete", "Person", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "ajax_main_content", HttpMethod = "POST" }))
{
    <input type=submit class='submitButton' value="TAK" />
    @Ajax.ActionLink("NIE", "Index", null, new AjaxOptions { UpdateTargetId = "ajax_main_content", HttpMethod = "POST" }, new { @class = "submitButton" })
}
    
