@model ZMTFixedAssetsWebApp.WebUI.Models.PersonListModel
@{
    ViewBag.Title = "Lista pracowników";
}


<div id="search_div">
    <img src="../Content/images/search.png" />
    <div class="search_class">PANEL WYSZUKIWANIA</div>

</div>
<div id="sortby">
<table id="mytable"  style:"overflow:auto">
</table>
<table id="validation"></table>
<div id="sortlist">
</div>
<input type="button" id="btn_search" value="wyszukaj"/>
</div>

<div id="list">
    @Html.Partial("_PersonList") 
</div>

















